<!DOCTYPE html>
<html>
  <head>
    <title>Coccamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <%= render "application/new_nav_bar" %>
  <body>
  <div class="sign-container max-h-[80vh]">
    <div class="sign-main overflow-y-auto justify-center"  style="text-align: center;">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
